@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  background-color: black;
  color: aliceblue;

}

.slide-item{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-small{
  width: 295px;
  height: 480px;
  object-fit: cover;
}

.destaque {
  width: 200px;
  height: 250px;
  object-fit: cover;
}

.imgx{
  /*-webkit-mask-image: linear-gradient(to top, transparent 25%, black 100%);*/
  
}