@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  background-color: black;
  color: aliceblue;

}

.slide-item{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-small{
  width: 295px;
  height: 480px;
  object-fit: cover;
}

.destaque {
  width: 200px;
  height: 250px;
  object-fit: cover;
}

.prev-next-carousel-top{
    --swiper-navigation-size: 44px;
    --swiper-navigation-top-offset: 33%;
    --swiper-navigation-sides-offset: 10px;
    --swiper-navigation-color: var(--swiper-theme-color);
}

.custom-carousel {
    
    
}

.custom-carousel .swiper-button-prev{
    /*right: 48px;*/
    top: 364px;
}

.custom-carousel .swiper-button-next{
  /*right: 48px;*/
  top: 364px;
}





.imgx{
  -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  

}

.Carousel-img-top{
  z-index: 10;
}

.logocarousel{
  width: 520px;
 
 
}